<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!--<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"> -->
  <link rel="shortcut icon" href="images/google-icon.png" type="image/google-icon.png">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Li-Heng (Leo) Wang
              </h1>
              <p>I am a Research Assistant in <a href="https://homepage.iis.sinica.edu.tw/~liutyng/">CVML Lab</a> at <a href="https://www.iis.sinica.edu.tw/en/index.html">Academia Sinica</a> working with Prof. <a href="https://homepage.iis.sinica.edu.tw/pages/liutyng/index_en.html">Tyng-Luh Liu</a>
              </p>
              <p>
              </p>
              <p>
                Previously, I completed my Master degree in Electrical and Computer Engineering at the University of Michigan, Ann Arbor. I received my undergraduate degree in Electrical Engineering and Computer Science from National Chiao-Tung University.
              </p>
              <p style="text-align:center">
                <a href="mailto:lihengw@umich.edu">Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/lihengwang0630">GitHub</a> &nbsp;/&nbsp;
                 <!-- <a href="https://scholar.google.com/citations?user=GCYG4GoAAAAJ">Google Scholar</a> &nbsp;/&nbsp; -->
                <a href="https://www.linkedin.com/in/li-heng-wang-66b056203/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:60%;max-width:60%" alt="profile photo" src="images/selfie_2.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm interested in computer vision, machine learning, optimization, and image processing.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

             <tr onmouseout="ever_stop()" onmouseover="ever_start()">
      <td style="padding:16px;width:20%;vertical-align:middle">
        <img src="images/teaser_3.jpeg" width="240" height="90">
      </td>
      <td style="padding:8px;width:80%;vertical-align:middle">
        <a href="https://drive.google.com/file/d/1tywB6bY3DUU4iTggi7fqKcK1NMIFiLKy/view?usp=drive_link">
			<span class="papertitle">Tracking Everything Everywhere across Multiple Cameras</span>
        </a>
        <br>
				<strong> Li-Heng Wang</strong>,
        <a> YuJu Cheng<a>,
        <a href="https://homepage.iis.sinica.edu.tw/pages/liutyng/index_en.html">Tyng-Luh Liu</a>
				<br>
        <em> In Proceedings of the 39th AAAI Conference on Artificial Intelligence (AAAI 2025)</em>
        <p></p>
        <p>
        Our work tackles the challenge of tracking individual points across multiple video sequences captured from diverse camera views.
        </p>

      </td>
    </tr>

    <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
      <tr>
        <td style="padding:0px">
          <br>
          <p style="text-align:center;font-size:small;">
            Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
          </p>
        </td>
      </tr>
    </table>

    
</body>

</html>

